<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="C:/Users/vedant.rathore/Desktop/ExpressJS/formRegistration/templates/style/style.css">

    <style>
        body {
            width: 100vw;
            height: 80vh;

        }

        header {
            width: 100%;
            height: 100%;
            border: 2px solid red;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-image: url(https://th.bing.com/th/id/R.c765cc62df7b4809d3f8af3a524ddfd2?rik=FegoSSFpUcQCyw&riu=http%3a%2f%2fsocwall.com%2fimages%2fwallpapers%2f37827-1920x1280.jpg&ehk=6JvnE6Z6za%2fyFF3%2fLhgx9GNXVXOojhnANn%2bRHjytAJA%3d&risl=1&pid=ImgRaw&r=0);
            background-repeat: no-repeat;
            background-position: center;
        }

        .form-structure {
            padding: 1rem;
            width: 60%;
            height: 60%;
            position: relative;
            z-index: 1;
            background-color: rgba(255, 255, 255, 0.89);
        }

         .form-structure2 {
             padding: 42rem;
            position: relative;
            z-index: 10;
            padding: 10px;
            width: 60%;
            height: 60%;
            position: relative;
            z-index: 1;
            background-color: rgba(202, 161, 161, 0.745);
        }

        .user-regis {
            position: relative;
            z-index: 10;
            text-align: center;
            color: rgb(255, 255, 255);
            font-weight: 700;
            font-size: 2rem;
        }

        .login-form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.922) !important;
        }
    </style>

    <title>SignIn/SignUp</title>
</head>

<body>


    <header>

        <div class="user-regis container">User Registration</div>
        <div class="form-structure container">

            <form method="post" action="/register" class="row g-3 needs-validation" novalidate>
                <div class="col-md-4">
                    <label for="firstname" class="form-label">First name</label>
                    <input name="firstname" type="text" class="form-control" id="" value="" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="lastname" class="form-label">Last name</label>
                    <input name="lastname" type="text" class="form-control" id="validationCustom02" value="" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="username" class="form-label">Username</label>
                    <div class="input-group has-validation">
                        <span class="input-group-text" id="inputGroupPrepend">@</span>
                        <input name="username" type="text" class="form-control" id="validationCustomUsername"
                            aria-describedby="inputGroupPrepend" required>
                        <div class="invalid-feedback">
                            Please choose a username.
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="city" class="form-label">City</label>
                    <input name="city" type="text" class="form-control" id="validationCustom03" required>
                    <div class="invalid-feedback">
                        Please provide a valid city.
                    </div>
                </div>

                <div class="col-md-3">
                    <label for="zip" class="form-label">Zip</label>
                    <input name="zip" type="text" class="form-control" id="validationCustom05" required>
                    <div class="invalid-feedback">
                        Please provide a valid zip.
                    </div>
                </div>

                <div class="col-md-4">
                    <label for="password" class="form-label">Password</label>
                    <input name="password" type="text" class="form-control" id="validationCustom05" required>
                </div>
                <div class="col-md-4">
                    <label for="cpassword" class="form-label">Confirm Password</label>
                    <input name="cpassword" type="text" class="form-control" id="validationCustom05" required>
                </div>

                <div class="col-12">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                        <label class="form-check-label" for="invalidCheck">
                            Agree to terms and conditions
                        </label>
                        <div class="invalid-feedback">
                            You must agree before submitting.
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <button class="btn btn-primary" type="submit">Submit form</button>
                </div>
            </form>
        </div>

    </header>

    <div class="login-form">
         <div class="user-regis container" style="color:  rgb(202, 161, 161) !important;">Login Form</div>
        <form method="post" action="/login" class="form-structure2">
            <div class=" mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" name="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>



</body>

</html>